main{
    height: 100vh;
    display: flex;
    justify-content: center;
}
section{
    width: 80vw;
}
section>div, article{
    text-align: center;
}
#image_socle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid gray;
    color: aqua;
    margin: 0 auto;
}
#image{
    height: 100%;
    border-radius: 50%;
}
article{
    height: 60vh;
    background-color: antiquewhite;
    padding: 20px 20px 0px 20px;
    box-shadow:10px 10px 15px -8px gray;
}

button{
    margin-top: 2%;
    cursor: pointer;
    background-color: #808080;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 10px;
    padding: 2%;
}
